body {
  padding-top: 51px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}

.navbar.navbar-default.navbar-fixed-top .container {
  left: 0;
  padding-left: 20px;
  position: absolute;
  width: 100%;
}
#bouton-menu {
  left: 20px;
  width: 100px;
  visibility: hidden;
}
.navbar-header {
  position: absolute;
  left: 300px;
}
#bouton-bas-page {
  margin-right: 60px;
}
#bouton-haut-page {
  float: right;
  margin-right: 10px;
}
.container > div > div:last-child {
  left: 300px;
  width: calc(100% - 300px);
}
.navbar-default {
  border-color: #f8f8f8;
}
#sidebar {
  display: block;
  position: fixed;
  left: 0;
  top: 50px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  width: 300px;
  height: calc(100% - 50px);
  background-color: #f8f8f8;
}
#sidebar .nav {
  width: 95%;
}
#sidebar .nav a {
  text-decoration: none;
}
#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
  padding-left: 15px;
}
#sidebar .nav .active a {
  font-weight: bold;
  text-decoration: none;
}
#sidebar .nav .active3 a {
  text-decoration: none;
}
#bouton-bas-page {
  right: 110px;
  padding-bottom: 6px;
}
#sidebar .nav .active > ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
#sidebar .nav .active > ul > li > a {
  font-size: 80%;
  font-weight: normal;
  padding: 5px;
  width: 100%;
  display: block;
  text-decoration: none;
}
#sidebar .nav .active .active2 a {
  font-weight: bold;
  text-decoration: none;
}
#sidebar .active li {
  padding-left: 0;
}

/* collapsed sidebar styles */
@media screen and (max-width: 990px) {
  /* initial 767px */
  #sidebar {
    display: none;
  }
  .container > div > div:last-child {
    left: 0;
    width: 100%;
  }
  .navbar-header {
    position: absolute;
    left: 130px;
  }
  #bouton-menu {
    visibility: visible;
  }

  #sidebar.sidebar-show {
    display: block;
  }
  .container > div > div:last-child.sidebar-show {
    left: 300px;
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 767px) {
  /* initial 767px */
  #bouton-bas-page {
    right: 10px;
  }
  #bouton-menu {
    width: 45px;
  }

  @media screen and (max-width: 480px) {
    #bouton-bas-page {
      display: none;
    }
    #bouton-haut-page {
      display: none;
    }
  }

}
