{% extends 'base.html' %} {% block content %}

<h1>Météo</h1>

<br />
<br />

<div class="row">
  <div class="col-xs-12 col-sm-1 fond"></div>
  <div class="col-xs-12 col-sm-10 fond">
    <a target="_blank" href="/meteo/plot/{{ station }}/vent/{{ date }}">
      <img
        src="/meteo/plot/{{ station }}/vent/{{ date }}"
        class="img-responsive ombre-image"
      />
    </a>
  </div>
</div>

<br />
<br />
<div class="row">
  <div class="col-xs-12 col-sm-1 fond"></div>
  <div class="col-xs-12 col-sm-10 fond">
    <a target="_blank" href="/meteo/rose/{{ station }}/{{ date }}">
      <img
        src="/meteo/rose/{{ station }}/{{ date }}"
        class="img-responsive ombre-image"
      />
    </a>
  </div>
</div>

<br />
<br />
<div class="row">
  <div class="col-xs-12 col-sm-1 fond"></div>
  <div class="col-xs-12 col-sm-10 fond">
    <a target="_blank" href="/meteo/plot/{{ station }}/temperature/{{ date }}">
      <img
        src="/meteo/plot/{{ station }}/temperature/{{ date }}"
        class="img-responsive ombre-image"
      />
    </a>
  </div>
</div>

<br />
<br />

{% endblock %}
