{% extends 'base.html' %} {% block content %}

<style>
  .loader-container {
    position: relative;
    display: flex;
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
  }

  .loader {
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
</style>

<br />
<br />

<select id="label">
  <option value="V 100m K72">V 100m</option>
  <option value="VMax K72 (noeuds)">V Max</option>
  <option value="Distance (km)">Distance</option>
</select>

<br />
<br />
<h2>Régression linéaire par équation normale</h2>
<br />
<div class="row">
  <div class="col-xs-12 col-sm-1 fond"></div>
  <div class="col-xs-12 col-sm-10 fond">
    <div id="regression1" class="fond"></div>
  </div>
</div>

<br />
<br />
<br />
<h2>Régression avec perceptron multicouche</h2>
<br />
<div class="row">
  <div class="col-xs-12 col-sm-1 fond"></div>
  <div class="col-xs-12 col-sm-10 fond">
    <div id="regression2" class="fond"></div>
    <br />
    <label>Nombre de couches cachées</label>
    <input id="nbcouches" type="text" size="6" value="2" />
    <label>Nombre de neurones par couche</label>
    <input id="nbneuronescouche" type="text" size="6" value="64" />
    <button id="calculer" type="button">Calculer</button>
  </div>
</div>

<br />
<br />

<script>
  function imageChargee(elt) {
    jQuery(elt).parent().prev().css("display", "none");
    jQuery(elt).parent().prev().prev().css("display", "none");
  }

  function calculeRegression1() {
    $("#regression1").html(
      '<div class="loader-container"><img src="/sessions/static/images/image-vierge.jpg" class="img-responsive ombre-image"><img src="/sessions/static/images/loading.gif" class="loader"></div><a target="_blank" href="ia/regressionlineaire?label=' +
        $("#label").val() +
        '">' +
        '<img onload="imageChargee(this)" src="ia/regressionlineaire?label=' +
        $("#label").val() +
        '" class="img-responsive ombre-image "></a>'
    );
  }

  function calculeRegression2() {
    $("#regression2").html(
      '<div class="loader-container"><img src="/sessions/static/images/image-vierge.jpg" class="img-responsive ombre-image"><img src="/sessions/static/images/loading.gif" class="loader"></div><a target="_blank" href="ia/reseauneurones?label=' +
        $("#label").val() +
        "&nbcouches=" +
        $("#nbcouches").val() +
        "&nbneuronescouche=" +
        $("#nbneuronescouche").val() +
        ' ">' +
        '<img onload="imageChargee(this)" src="ia/reseauneurones?label=' +
        $("#label").val() +
        "&nbcouches=" +
        $("#nbcouches").val() +
        "&nbneuronescouche=" +
        $("#nbneuronescouche").val() +
        '" class="img-responsive ombre-image "></a>'
    );
  }

  $(document).ready(function () {
    calculeRegression1();
    calculeRegression2();
  });

  $("#label").change(function () {
    calculeRegression1();
    calculeRegression2();
  });

  $("#calculer").click(function () {
    calculeRegression2();
  });
</script>

{% endblock %}
