      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button id="bouton-bas-page" type="button" class="navbar-toggle hidden" style="padding-top:5px;" data-toggle="bas-page" data-target=".sidebar-nav">
                  <span style="float: left; margin-right: 10px" class="hidden-xs"><font color="grey" style="font-family: 'Raleway', sans-serif;">bas de page</font></span>
                  <span class="glyphicon glyphicon-arrow-down" style="color: grey; padding-top: 3px;"></span>
               </button>			
               <button id="bouton-menu" type="button" class="navbar-toggle hidden" style="padding-bottom:5px; padding-top:5px" data-toggle="offcanvas" data-target=".sidebar-nav">
                  <span style="float: left; margin-right: 10px" class="hidden-xs"><font color="grey" style="font-family: 'Raleway', sans-serif;">menu</font></span>
                  <span style="float: right; margin-top:4px; margin-bottom:5px">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span></span>
               </button>
               <a class="navbar-brand" href="https://greduvent.herokuapp.com/index.php" style="text-decoration:none">au gré du vent 1.0</a>
               <a onclick="return !window.open(this.href, 'pop', 'width=312,height=450,left=0,top=0');" href="https://greduvent.herokuapp.com/musique/musique.php"><img alt="Ecouter Cuisine Spectrale" title="Ecouter Cuisine Spectrale" src="{{ url_for('static', filename='images/enceinte.gif') }}" class="navbar-brand"/></a>
               <a href="https://greduvent.herokuapp.com/commentaires/commentaires.php"><img alt="Livre d'or" title="Livre d'or" src="{{ url_for('static', filename='images/livre.png') }}" class="navbar-brand hidden-xs"/></a>
               <a rel="alternate" type="application/rss+xml" href="https://greduvent.herokuapp.com/news.xml" target="_blank"><img alt="Flux RSS" title="Flux RSS" src="{{ url_for('static', filename='images/logo_rss.png') }}" class="navbar-brand hidden-xs"/></a>
               <a href="http://www.twitter.com/jeeve" target="_blank"><img alt="@jeeve" title="@jeeve" src="{{ url_for('static', filename='images/logo_twitter.png') }}" class="navbar-brand hidden-xs"/></a>
            </div>
         </div>
      </div>