<head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <META NAME="Keywords" CONTENT="balade,poésie,windsurf,planche,loire,jean-valéry,vent,nature,photo,texte,kitesurf"/>
      <META NAME="Author" CONTENT="Jean-Valéry"/>
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_16_16.ico') }}" /> 
      <link rel="icon" href="{{ url_for('static', filename='images/favicon_32_32.png') }}" sizes="32x32" />
      <link rel="icon" href="{{ url_for('static', filename='images/favicon_48_48.png') }}" sizes="48x48" /><link rel="apple-touch-icon" href="/images/favicon_114_114.png" />
  	  <link rel="alternate" type="application/rss+xml" title="Flux RSS" href="/news.xml" />
	  <!--<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">-->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/bootply.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/fond.css') }}" rel="stylesheet">
      
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 

    <title>Convertisseur FIT, SML > GPX</title>

</head>