            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
               <ul class="nav" style="text-align: center">
                  <li><a href="https://greduvent.herokuapp.com/sommaire/sommaire.php">en route...</a></li>
                  <li><a href="https://greduvent.herokuapp.com/astronomie/astronomie.php">vers les étoiles</a></li>
                  <li><a href="https://greduvent.herokuapp.com/mer/mer.php">parfum salé</a>
					<ul style="display: none;">
						<li><a href="https://greduvent.herokuapp.com/mer/rivages.php">rivages</a></li>
						<li><a href="https://greduvent.herokuapp.com/mer/diapo.php">lumières marines</a></li>
						<li><a href="https://greduvent.herokuapp.com/mer/saint-jacut.php">Saint-Jacut-de-la-Mer</a></li>
						<li><a href="https://greduvent.herokuapp.com/mer/safaga.php">Safaga</a></li>						
					</ul>	
				  </li>					
                  <li><a href="https://greduvent.herokuapp.com/loire/loire.php">au fil de l'eau</a>
					<ul style="display: none;">
						<li><a href="https://greduvent.herokuapp.com/loire/diapo.php">ainsi coule la Loire</a></li>
					</ul>	
				  </li>	                  
				  <li><a href="https://greduvent.herokuapp.com/foret/foret.php">peuple végétal</a>
					<ul style="display: none;">
						<li><a href="https://greduvent.herokuapp.com/foret/diapo.php">rencontres végétales</a></li>
					</ul>	
				  </li>	 
                  <li><a href="https://greduvent.herokuapp.com/impressions/impressions.php">impressions</a></li>
                  <li><a href="https://greduvent.herokuapp.com/sensations/sensations.php">sensations</a>
					<ul style="display: none;">
						<li><a href="https://greduvent.herokuapp.com/sensations/windsurf-kitesurf.php">windsurf / kitesurf</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/spots-ile-de-france.php">les spots d'Ile-de-France</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/lery-poses.php">Léry-Poses</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/moisson.php">Moisson Lavacourt</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/ecluzelles.php">Mézières-Ecluzelles</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/saint-quentin-yvelines.php">Saint-Quentin en Yvelines</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/jablines.php">Jablines</a></li>						
						<li><a href="https://greduvent.herokuapp.com/sensations/vaires-sur-marne.php">Vaires-sur-Marne</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/grande-paroisse.php">la Grande-Paroisse</a></li>
						<li><a href="https://greduvent.herokuapp.com/sensations/powerkite.php">powerkite</a></li>
					</ul>
				  </li>
                  <li><a href="https://greduvent.herokuapp.com/emotions/emotions.php">émotions</a></li>
                  <li><a href="https://greduvent.herokuapp.com/en-chemin/en-chemin.php">en chemin</a>
					<ul style="display: none;">
						<li><a href="https://greduvent.herokuapp.com/en-chemin/ncis.php">NCIS</a></li>
						
					</ul>	
				  </li>	 				  
                  <li><a href="https://greduvent.herokuapp.com/reflexions/reflexions.php">?!?</a></li>
                  <li><a href="https://greduvent.herokuapp.com/informatique/informatique.php">01101</a>
					<ul style="display: none;">
						<li><a href="https://greduvent.herokuapp.com/informatique/hop.php">hop</a></li>
						<li><a href="https://greduvent.herokuapp.com/informatique/wescheme.php">wescheme</a></li>
						<li><a href="https://greduvent.herokuapp.com/informatique/racket.php">racket</a></li>						
					</ul>	
				  </li>					  
                  <li><a href="https://greduvent.herokuapp.com/science/science.php">e^(i.pi)+1=0</a></li>
				  <li><a href="https://greduvent.herokuapp.com/outils/outils.php">la boite à outils</a></li>
                  <li><a href="https://greduvent.herokuapp.com/a-propos/a-propos.php">à propos...</a></li>
                  <li><a href="https://greduvent.herokuapp.com/commentaires/commentaires.php">et vous ?</a></li>
               </ul>
            </div>